<footer class="footer">
    <div class="container">
           <div class="col_links">
            <button style="border-right-color: white; border-right-width: 1pt; border-right-style: solid;"> about us </button>
            <button style="border-right-color: white; border-right-width: 1pt; border-right-style: solid;"> research goals </button>
            <button style="border-right-color: white; border-right-width: 1pt; border-right-style: solid;"> participation </button>
            <button > contact </button>
        </div>
    </div>
</footer>