{% extends "layouts/base.html" %}
{% block title %} Blank Page {% endblock %}

{#<!-- Specific Page CSS goes HERE  -->#}
{% block stylesheets %}{% endblock stylesheets %}#}
{% block content %}
<main id="main">
    <section class="dark_section">
        <h1>Questions?</h1>
        <h2>For questions about experiments, withdrawl of your data, or any other concerns,<br>please contact the lead researcher: <span style="color:cornflowerblue"> mosmith3@asu.edu</span></h2>
        <p style="text-align: center">Alternativley, if you have any questions about your rights as a subject/participant in this research,<br>
            or if you feel you have been placed at risk, contact the Chair of the Human Subjects Institutional Review Board at (480) 965-6788</p>
        <h1>Research Members</h1>
        <div class="panel_container">
            <div class="panel">
                <div class="panel_header">Mason Smith</div>
                <img class="panel_image" src="static/img/profilepic_mason.jpg" alt="profile picture">
                <div class="panel_descr" style="width: 100%">
                    <p>
                        Mason is a student-researcher at Arizona State University interested in facilitating intelligent
                        robotics such that they can intuitively interact with humans and assist us in everyday life.
                        To accomplish this, Mason has chosen to focus on advancing cognition-aware robotic systems may
                        better understand why and how humans make the decisions they do. Doing this, Mason hopes to improve
                        the relationship between and efficiency when human and robots collaborate. Mason is currently pursuing a PhD in Systems Engineering but has obtained degrees in
                        BSE Engineering (Robotics), BS Human Systems Engineering, and a MS Engineering
                    </p>
                    <p>C: mosmith3@asu.edu</p>
                </div>
            </div>
        </div>


        <div class="panel_container">
            <div class="panel">
                <div class="panel_header">Dr. Wenlong Zhang</div>
                <img class="panel_image" src="static/img/_placeholder.jpg" alt="profile picture">
                <div class="panel_descr" style="width: 100%">
                    <p>
                        Mason is a student-researcher at Arizona State University interested in facilitating intelligent
                        robotics such that they can intuitively interact with humans and assist us in everyday life.
                        To accomplish this, Mason has chosen to focus on advancing cognition-aware robotic systems may
                        better understand why and how humans make the decisions they do. Doing this, Mason hopes to improve
                        the relationship between and efficiency when human and robots collaborate. Mason is currently pursuing a PhD in Systems Engineering but has obtained degrees in
                        BSE Engineering (Robotics), BS Human Systems Engineering, and a MS Engineering
                    </p>
                    <p>C: --@asu.edu</p>
                </div>
            </div>
        </div>

    </section>


</main>

{% endblock %}
