{% extends "layouts/base.html" %}
{% block title %} Blank Page {% endblock %}

{#<!-- Specific Page CSS goes HERE  -->#}
{% block stylesheets %}{% endblock stylesheets %}#}
{% block content %}
<main id="main">
    <section class="dark_section" >
        <h1>Questions?</h1>
        <h2>For questions about experiments, withdrawl of your data, or any other concerns,<br>please contact the lead researcher: <span style="color:cornflowerblue"> mosmith3@asu.edu</span></h2>
        <p style="text-align: center">Alternativley, if you have any questions about your rights as a subject/participant in this research,<br>
            or if you feel you have been placed at risk, contact the Chair of the Human Subjects Institutional Review Board at (480) 965-6788</p>

    </section>
        <div class = 'gradiant_box'> </div>
</main>

{% endblock %}

