{% extends "layouts/base.html" %}
{% block title %} Blank Page {% endblock %}

{#<!-- Specific Page CSS goes HERE  -->#}
{% block stylesheets %}{% endblock stylesheets %}#}
{% block content %}
<main id="main">


    <!--    <section class="floating_section">-->
    <section class="dark_section" style="height: 80%">
        <h1>Advancing Intelligent Robots </h1>
        <h2>Through interactive experiments with AI-powered partners </h2>
        <div class="grid_container_2x3" style="margin-top: 10%">

            <div class = "grid_item" style="grid-column: 2;  grid-row: 1; transform: scale(100%)">
                <h2 style="text-align: left; margin: 5pt 0;">Want to Participate?</h2>
                <p>Contribute to the future of intelligent and interactive robotics by participating in one of our short,
                    online experiments.</p>
                <ul style="margin-top: 0;">
                    <li>Play a short game</li>
                    <li>Learn about research</li>
                    <li>Contribute to the field</li>
                </ul>
                <button class = "interactive_button" onclick="window.location.href='/participate'">Participate Now!</button>
            </div>

            <!--            ###### SECONDARY TILES ######-->
            <div class = "grid_item2" style="grid-column: 1;  grid-row: 1;transform: scale(80%) ">
                <h2 style="text-align: left; margin: 5pt 0;">Our research</h2>
                <p>Explore what our researchers and our lab is attempt to accomplish in the field of human-robot interaction (HRI)</p>
                <ul style="margin-top: 0;">
                    <li>Discover our research goals</li>
                    <li>Explore broader impacts</li>
                    <li>Learn about the team</li>
                </ul>
                <button class = "interactive_button2" style=""
                        onclick="window.location.href='/participate'">Discover</button>
            </div>

            <div class = "grid_item2" style="grid-column: 3;  grid-row: 1; ">
                <h2 style="text-align: left; margin: 5pt 0;">Other Questions</h2>
                <p>Find additional information and details about this research, read consent forms, or directly contact a researcher.</p>
                <ul style="margin-top: 0;">
                    <li>Get in contact</li>
                    <li>Consent information</li>
                    <li>Legal information</li>
                </ul>
                </ul>
                <button class = "interactive_button2" onclick="window.location.href='/participate'">More Information</button>
            </div>



        </div>
    </section>

<!--    <section class="normal_section">  <h1>Cognition-Aware Robots</h1>-->
<!--        <p>Our goal is to allow interactive robots to better understand humans-->
<!--            and their decision-making by integrating cognitive and economic models-->
<!--            into robotic controllers. By doing this, robots will be able to better plan-->
<!--            their actions to supplement and achieve human goals more effectively.</p>-->
<!--    </section>-->
    <section class="normal_section">
        <h1 style="text-align: center;">Applications</h1>
        <div class="panel_container">
            <div class="panel">
                <div class="panel_header">Manufacturing</div>
                <img class="panel_image" src="static/img/manufacturing.png" alt="manufacturing img">
                <div class="panel_descr"> Collaborative robotics allow for more direct interaction
                    and joint-planning in assembly, inspection, and other tasks that may require online
                    adpatation of the human-robot team. Thus, robots must be enabled with the ability
                    to fluidly interact and jointly-plan in order to ensure efficiency and safety.
                </div>
            </div>
            <div class="panel">
                <div class="panel_header">Search and Rescue</div>
                <img class="panel_image" src="static/img/searchandrescue.jpg" alt="manufacturing img">
                <div class="panel_descr">Search and rescue operations are a dynamic and high risk task
                    that require tight-knit interaction and planning between teammates. Therefore, robotics partners
                    must be able accurately predict and respond to humans.</div>
            </div>

            <div class="panel">
                <div class="panel_header">Social Robotics</div>
                <img class="panel_image" src="static/img/socialrobots.jpg" alt="manufacturing img">
                <div class="panel_descr">Social robots are autonomous agents that communicate and
                    interact with humans in naturalistic ways. To enable this, robots must appropriatley
                    consider social norms and have accurate models of human responses.</div>
            </div>
        </div>

    </section>

</main>

{% endblock %}
