{% extends "PursuitGame/base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<!--<script>-->
<!--    var socket = io();-->

<!--</script>-->
<style>
<!--      div { margin-bottom: 10px; }-->
      label { display: inline-block; width: 150px; text-align: right; }
</style>
<div class="drawspace">
    <h1 class="page_title">Background Information</h1>
    <br>
    <p class="page_title_subtext"> Please provide the following information about yourself: </p>
<!--    <h4> Please provide the following information about yourself: </h4>-->
    <form method='POST'>
          <div><label for="age">Age:</label> <input type="text" id="age" name="age" value="" style="width: 400px;margin-left: 10px;"></div>
          <div><label for="sex">Sex:</label> <input type="text" id="sex" name="sex" value="" style="width: 400px;margin-left: 10px;"></div>
          <div><label for="occupation">Occupation:</label> <input type="text" id="occupation" name="occupation" value="" style="width: 400px;margin-left: 10px;"></div>
        <br>
        <p class="page_title_subtext">How familiar are you with video games? </p>
        <table class = "survey_table">
        <tr class="blank_row"> <td colspan="12"></td> </tr>
<!--        <tr> <td colspan="12" class="row_subtitle"> </td> </tr>-->
        <tr style="padding-left: 25px;">
            <th></th>
            <th class="survey_header" style="width: 75px;">no experience</th>
            <th class="survey_header" style="width: 75px;"> </th>
            <th class="survey_header" style="width: 75px;"> </th>
            <th class="survey_header" style="width: 75px;"> </th>
            <th class="survey_header" style="width: 75px;"> </th>
            <th class="survey_header" style="width: 75px;"> </th>
            <th class="survey_header" style="width: 75px;">very familiar</th>
        </tr>
        <tr>
            <td class="row_header"></td>
            <td><input type="radio" name="experience" data-col="0"  value="0" ></td>
            <td><input type="radio" name="experience" data-col="1"  value="1" ></td>
            <td><input type="radio" name="experience" data-col="2"  value="2" ></td>
            <td><input type="radio" name="experience" data-col="3"  value="3" ></td>
            <td><input type="radio" name="experience" data-col="4"  value="4" ></td>
            <td><input type="radio" name="experience" data-col="5"  value="5" ></td>
            <td><input type="radio" name="experience" data-col="6"  value="6" ></td>
        </tr>
    </table>

   <div class="centered_button_container">
       <button class="button submit_button" name="submit_background_response" value="submit_background_response">Submit</button>
   </div>


</form>
    <p class="page_title" style="color:red">{{msg}}</p>
</div>



{% endblock %}
