{% extends "PursuitGame/base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<!--        <center>-->
<!--                <h3>Joint-Pursuit Experiment</h3>-->
<!--                <img src=".\static\IMG\{{ user_image }}" alt="{{ user_image }}" height="700px" width="700px">-->
<!--                <button type="button">Click Me!</button>-->
<!--        </center>-->
<div class="drawspace">




<center>
        <div class="imgContainer">
            <h1>Moving Your Character</h1>
            <div>
                <img src="\static\IMG\Instructions_Movement.gif" alt="instructions_gif" class="instruction_img">
                <img src="\static\IMG\Instructions_ArrowKeys.PNG" alt="instructions_gif" class="instruction_img">
            </div>
            <div class="instruction_txt">
                <ul>
                    <p class="instructions_head">Moving Your Character:</p>
                    <li>Your character is the <span style="color: #00008b;font-weight:bold;">dark blue square</span> and your partner is the <span style="color: #89CFF0;font-weight:bold;">smaller light blue square</span></li>
                    <li>You can input the up, down, left, or right action by pressing the arrow keys on the keyboard </li>
                    <li>These actions determine what direction your character will move</li>
                    <li>You can also choose to not input anything and not move (wait) on any turn </li>

                    <p class="instructions_head">Tiles and Valid Moves:</p>
                    <li>You can choose to move your character into any white or red tile </li>
                    <li>You may also freely occupy the same tile as or pass through other players </li>
                    <li>Black tiles are walls and you are not able to enter </li>
                    <li>If you attempt to move into a black tile, your character will remain on the same tile </li>

                    <p class="instructions_head">Movement Indicators:</p>
                    <li>The last input you entered can be seen in the bottom corners of the screen </li>
                    <li>This will be the direction your character moves when the turn timer expires </li>
                    <li>The previous move performed by a player is shown by the wind icons behind each player</li>
                </ul>
            </div>
            <div class="imgButton">
                <form method='POST'>
<!--                    <button class="button back_button" name="submit_back" value="submit_back">Back</button>-->
                    <button class="button continue_button" name="submit_continue" value="submit_continue">Continue</button>
                </form>
            </div>
        </div>
</center>

</div>
{% endblock %}