{% extends "PursuitGame/base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<!--        <center>-->
<!--                <h3>Joint-Pursuit Experiment</h3>-->
<!--                <img src=".\static\IMG\{{ user_image }}" alt="{{ user_image }}" height="700px" width="700px">-->
<!--                <button type="button">Click Me!</button>-->
<!--        </center>-->
<div class="drawspace">




<center>
        <div class="imgContainer">
            <h1>Game Objective</h1>
            <div> <img src="\static\IMG\Instructions_Objective.gif" alt="instructions_gif" class="instruction_img"> </div>
            <div class="instruction_txt">
                <ul>
                    <p class="instructions_head">Catching the Target:</p>
                    <li>You and your partner's objective to catch the target (<span style="color: #028a0f;font-weight:bold;">green square</span>) </li>
                    <li>The target is "<span style="font-weight:bold;">caught</span>" when you and your partner are co-located or adjacent to the target</li>
                    <li>You must be co-located or adjacent simultaneously for the catch to count</li>
                    <li>Therefore, you must cooperate with your partner because you cannot succeed alone</li>
                    <li>If you catch the target before you run out of moves, the game will end</li>

                    <p class="instructions_head">Target Behavior & Tips for Success:</p>
                    <li>The target will attempt to avoid both players</li>
                    <li>It's goal is to move to the tile that has the highest cumulative distance to both players</li>
                    <li>However, the target will <span style="font-weight:bold;">prioritize moving away</span> from the <span style="font-weight:bold;">closest player</span> when possible </li>
                    <li>Therefore, it is best to trap the target in a corner and simultaneously approach it </li>
                    <li>This is not the only way to succeed since the target will not avoid players perfectly </li>
                    <li>It is ultimately up to you and your painter to decide how to best catch the target</li>

<!--                    <p class="instructions_head">Scoring:</p>-->
<!--                    <li> </li>-->
<!--                    <li> </li>-->
<!--                    <li> </li>-->

                </ul>
            </div>
            <div class="imgButton">
                <form method='POST'>
                    <button class="button back_button2" name="submit_back" value="submit_back">Back</button>
                    <button class="button continue_button2" name="submit_continue" value="submit_continue">Continue</button>
                </form>
            </div>
        </div>
</center>

</div>
{% endblock %}