{% extends "PursuitGame/base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<style>
      label { display: inline-block;font-size: 30px; }
</style>
<!--<h1>Risk Information Page</h1>-->
<script>
        var penalty = '{{pen}}';
        var penalty_prob = '{{prob}}';
</script>
<div class="drawspace">


<center>
        <div class="imgContainer">
<!--                <div class="container" style="width: 700px;height: 700px;">-->
               <h1>Penalty information</h1> <br><br><br><br>

               <h2>Upon entering a penalty state, you have a...</h2>
               <br><br>
               <div> <label style="color: red;">{{prob}}% chance </label> <label> of getting a</label> </div>
               <br>
               <div> <label style="color: red;">{{pen}} penalty </label> <label> to your final score</label> </div>
        <!--       <div> <img src=".\static\IMG\{{ user_image }}" alt="{{ user_image }}" height="700px" width="700px"> </div>-->

<!--                </div>-->
                <div class="imgButton">
                        <form method='POST'>
<!--                                <button class="button play_button" name="submit_play" value="submit_play">Play Game</button>-->
                                <button class="button play_button" name="submit_continue" value="submit_continue">Play Game</button>
                        </form>
                </div>
        </div>
</center>
</div>
{% endblock %}
