<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--    &lt;!&ndash;JavaScript&ndash;&gt; <script src="{{ url_for('static', filename='scripts/game_obj.js') }}"></script>-->
<!--        &lt;!&ndash;JavaScript&ndash;&gt; <script src="scripts/game_obj.js"></script>-->

    <!--Socketio--> <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <!--jQuery--> <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>
<p>SCRIPT TEST</p>
  <canvas id="canvas"  style = "border: 1px solid blue" width="700" height="700"></canvas>
  <script script src="{{ url_for('static', filename='scripts/game_obj.js') }}"></script>

</body>
</html>