{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<!--        <center>-->
<!--                <h3>Joint-Pursuit Experiment</h3>-->
<!--                <img src=".\static\IMG\{{ user_image }}" alt="{{ user_image }}" height="700px" width="700px">-->
<!--                <button type="button">Click Me!</button>-->
<!--        </center>-->
<div class="drawspace">




<center>
        <div class="imgContainer">
            <h1>Risky States & Penalties</h1>
            <div> <img src="\static\IMG\Instructions_Penalty.gif" alt="instructions_gif" class="instruction_img"> </div>
            <div class="instruction_txt">
                <ul>
                    <p class="instructions_head">Risky States:</p>
                    <li>During the game there will be several <span style="color: #bb0a1e;font-weight:bold;">red tiles</span> called  <span style="color: #bb0a1e;font-weight:bold;">"risky states"</span></li>
                    <li>When ending your turn in these tiles, you have a __% <span style="font-weight:bold;">chance</span> of getting a -__ <span style="font-weight:bold;">penalty</span> </li>
                    <li>You will be informed of the percent chance and penalty during the experiment  </li>

                    <p class="instructions_head">Receiving a Penalty:</p>
                    <li>Entering a risky state does not guarantee that you will receive a penalty  </li>
                    <li>However, if you do receive a penalty by chance, then your screen will flash red  </li>
                    <li>The cumulative penalty you receive will be subtracted from your final score for that game  </li>
                    <li>The cumulative penalty can be seen in the top right </li>
                    <li>In this example, there is a 50% chance of getting a -3 penalty (will be different for you)</li>
<!--                    <li>These numbers will be different when you play</li>-->

                    <p class="instructions_head">Other Player's Penalties:</p>
                    <li>Your partner also receives penalties in the same way you do</li>
                    <li>However, your and your partner's penalties are separate and do not affect each other </li>
                    <li>The target does not receive penalties and can move freely without consequence</li>
                </ul>
            </div>
            <div class="imgButton">
                <form method='POST'>
                    <button class="button back_button2" name="submit_back" value="submit_back">Back</button>
                    <button class="button continue_button2" name="submit_continue" value="submit_continue">Continue</button>
                </form>
            </div>
        </div>
</center>

</div>
{% endblock %}