{% extends "/templates/layouts/base.html" %}
{% block title %} Block Game {% endblock %}

{#<!-- Specific Page CSS goes HERE  -->#}
{% block stylesheets %}{% endblock stylesheets %}#}
{% block content %}
    {% include "/templates/includes/iRobot.html" %}
    <main>
{#        <meta http-equiv="refresh" content="0; URL=/static/iRobot/index.html" />#}
<div class="container">
        {% block content %}{% endblock %}

        <div class="gm4html5_div_class" id="gm4html5_div_id">
            <!-- Create the canvas element the game draws to -->
            <canvas id="canvas" width="800" height="800" >
                <p>Your browser doesn't support HTML5 canvas.</p>
            </canvas>
        </div>

        <!-- Run the game code -->
        <script type="text/javascript" src="/static/iRobot/html5game/iRobot.js"></script>
        <script>window.onload = GameMaker_Init;</script>
        <p> Block Game</p>
    </div>
    </main>

{% endblock %}

{# {% extends "layouts/base.html" %}#}
{#{% block content %}#}
{#<p> Participate page</p>#}
{#{% endblock %}#}
