{% extends "layouts/base.html" %}
{% block title %} Blank Page {% endblock %}

{#<!-- Specific Page CSS goes HERE  -->#}
{% block stylesheets %}{% endblock stylesheets %}#}
{% block content %}
    <main>
        <section class="floating">
            <h1>Join an Experiment</h1>
            <p>paragraph text</p>
            <button>Participate Now!</button>
        </section>
         <section class="floating">
            <h1>About Us</h1>
             <p>We are researchers at Arizona State University attempting to collec</p>
        </section>
<!--        <div class="section_container"-->
        <p> Index Page!</p>
    </main>

{% endblock %}
